<h3>
  <strong>Name:</strong>
  <%= @laptop.title %>
</h3>

<p>
  <strong>Brand:</strong>
  <%= @laptop.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @laptop.model %>
</p>

<p>
  <strong>Processor Brand:</strong>
  <%= @laptop.processor_brand %>
</p>

<p>
  <strong>RAM Size:</strong>
  <%= @laptop.ram_size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @laptop.price %>
</p>

<%= link_to 'Back', laptops_path %>